
/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
    font-size: 20px;
    color: red;
}
.blok{
    font-size: 15px;
    margin: 40px;

}
.blok p{
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 25px 0px;
}
.blok p:nth-child(odd){
    background-color: aqua;
}
.blok p:hover{
    color: darkviolet;
}
.blok p:nth-child(2){
    background-color: darkgoldenrod;
}
.textinput{
    border: 1px solid #666;
    height: 50px;
    padding: 0px 15px;
    font-size: 18px;
    width: 300px;
    margin: 0px 0px 10px 0px;
}
.textinput:hover{
    background-color: forestgreen;
}
.textbutton{
    display: block;
   height: 70px;
    width: 200px;
    background-color: darkgreen;
}
.textbutton:hover{
    background-color: red;
    color: darkturquoise;
}
.lest{
    font-size: 22px;
    padding-left: 15px;
}

.lest li:nth-child(even){
    color: blue;
}
