
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
  background-image: url('/img/image5-1.png') ;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.menu{
  background-color: yellow;
  display: flex;
}
.menu li{
  display: inline-block;
  padding: 25px 20px;
  font-size: 14px;
}
.menu ul{
  margin-left: 42px;
}
.menu li:hover{
  background-color:rgb(27, 27, 27);
  color: azure;
}
.menuBotton{
background-color: rgb(27, 27, 27);
color: rgb(66, 66, 66);
  padding: 13px ;
  display: flex;
}
.menuBotton p{
  margin-left: 46px;
}
.yrlac{
  
}
.yrlac img{
  width: auto;
  height: 26px;
  margin-left: 16px;
}
.content{
  font-size: 27px;
  margin-left: 60px;
margin-top: 32px;
vertical-align: baseline;
}
.content p{
  padding: 10px;
  vertical-align: text-top;
}
.content img{
  width: 30px;
  height: auto;
  margin-right: 12px;
}