.conteiner{
 max-width: 1200px;
  height: 500px;
  background-color: rgb(148, 144, 144);
}
img{
  width: 256px;
  height: 256px;
}
.slider{
  width: 256px;
  height: 256px;
  margin: 30px auto;
  border: 2px solid;
  overflow: hidden;
  
}
.slider-line{
  display: flex;
  width: 1024px;
  height: 256px;
  background: fuchsia;
  position: relative;
  left : 0;
  transition: 1.2s;
}
button{
  display:inline;
  padding: 13px;
  margin-left: 11px;
  border-radius: 13px;
  border: 3px solid blue;
 margin-left: 260px;
}
button:hover{
  background-color: blue;
  color: beige;
}
